
.app {
  /* background-color: #393E46; */
  width: 60%;
  margin: 1rem auto;
  text-align: center;
  padding: 1rem;
  border-radius: 10px;
  min-height: 90vh;
}


.header{
  font-family: "Montserrat";
  font-size: 3rem;
}