
.app {
  width: 60%;
  margin: 1rem auto;
  text-align: center;
  padding: 1rem;
  border-radius: 10px;
}


.header{
  font-family: "Montserrat";
  font-size: 3rem;
}

.task-input{
  padding: 1rem;
  border-radius: 5px;
  outline: none;
  border: none;
  font-family: "Roboto";
  font-size: 1rem;
  
}

nav{

  /* width: 95%; */
  margin: 0 auto;
  display: block;
  background-color: #00ADB5;
  color: #393E46;
  font-family: 'Montserrat';
  font-weight: 500;
}

nav > ul{
  display: flex;
  list-style: none;
  justify-content: flex-end;
  gap: 1rem;
  padding: 0.4rem 2rem;
}

nav > ul > li > a{
  text-decoration: none;
  color: #393E46;

}