.task-add-section{
    margin: 1.5rem 0 0;
}

.task-add-button{
    padding: 1rem;
    border: none;
    height: 51px;
    border-radius: 5px;
    margin-left: 1rem;
    background-color: #00ADB5;
    color: #393E46;
    font-size: 1rem;
}